[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epialleleR"]
	path = epialleleR
	url = https://github.com/bbcg/epialleler
[submodule "ramr"]
	path = ramr
	url = https://github.com/bbcg/ramr
