[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "epialleleR"]
	path = epialleleR
	url = https://github.com/bbcg/epialleler
	shallow = true
	registered = true
